<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>WM Tipico</title>

<!-- Compiled and minified CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon.png" sizes="96x96">


<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.js"></script>
<script src="/javascripts/main.js" charset="utf-8"></script>
<script src="/javascripts/maintainscroll.js" charset="utf-8"></script>