<div id='modal1' class='modal'>
  <div class='modal-content'>
    <h4>Ergebniss: <span id="modalheader"></span></h4>
    <table id="modalTable">
      <thead>
        <tr>
          <th>Username</th>
          <th>Tip</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody id='modalcontent'>

      </tbody>
    </table>
  </div>

  <a href='#!' class='modal-close waves-effect waves-green btn-flat'>Close</a>
</div>
</div>