<ul class="sidenav sidenav-fixed blue darken-3" id="menu">
  <li>
    <a href="#" class="brand-logo">WM Tipico</a>
  </li>
  <li>Hallo
    <strong>
    <%= username %>
  </strong>
  </li>
  <li>Dein Weltmeister:
    <strong>
      <%= champion %>
    </strong>
  </li>
  <li>Punkte:
    <strong>
    <%= points %>
  </strong>
  </li>
</ul>