<ul class="sidenav sidenav-fixed blue darken-3" id="menu">
  <li>
    <span class="brand-logo">WM Tipico</span>
  </li>
  <li>Hallo
    <strong>
    <%= username %>
  </strong>
  </li>
  <li>Dein Weltmeister:
    <strong>
      <%= champion %>
    </strong>
  </li>
  <li>Punkte:
    <strong>
      <%= points %>
    </strong>
  </li>
  <li class="daytoggle" id="d1">Spieltag 1</li>
  <li class="daytoggle" id="d2">Spieltag 2</li>
  <li class="daytoggle" id="d3">Spieltag 3</li>
  <li class="daytoggle" id="d4">Achtelfinale</li>
  <li class="daytoggle" id="d5">Viertelfinale</li>
  <li class="daytoggle" id="d6">Halbfinale</li>
  <li class="daytoggle" id="d7">Finale</li>
</ul>